html, body {
  width: 100%; 
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  margin: auto;
  width: 100%;
  height: min(30px, max(20px, 5vh));
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color:transparent;
}

.header img {
  height: 100%;
  opacity: 0.7;
  margin: 10px;
}

.header img:hover {
  cursor: pointer;
  opacity: 1;
}

.header .level-info {
  color: white;
  font-family: 'HelloDotStick';
  font-weight: bold;
  font-size: min(30px, max(20px, 5vh));
  align-self: center;
}

.footer {
  position: fixed;
  margin: auto;
  width: 100%;
  height: min(30px, max(20px, 5vh));
  margin-bottom: 10px;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color:transparent;
}

.footer img {
  height: 100%;
  opacity: 0.7;
  margin: auto;
}

.footer img:hover {
  cursor: pointer;
  opacity: 1;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 10px 1px rgb(255 255 255 / 70%);
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all 0.5s;
  opacity: 0;
}

.menu-item {
  align-self: center;
  margin: 10px 10px;
  width: 153px;

  display:flex;
  justify-content: flex-start;
}

.menu-item-desc {
  align-self: center;
  color: white;
  font-family: 'HelloDotStick';
  font-weight: bold;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.7;
  transition: all 0.5s;
  margin-left: 10px;
}

.menu-item img {
  width: 30px;
  height: 30px;
  color: white;
}

.menu-item:hover {
  cursor: pointer;
  transition: all 0.1s;
}

.menu-item:hover .menu-item-desc {
  opacity: 1;
}

input[type="color"] {
	-webkit-appearance: none;
  border: white 2px solid;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 4px;
  /* box-shadow: white 0px 0px 3px 0.7px; */
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input[type="color"]:focus {
  outline: none;
}
input[type="color"]:hover {
  cursor: pointer;
}

.messages-container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  background-color: transparent;
  display: none/*flex*/;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.message-item, .continue-item {
  font-family: HelloDotStick;
  font-weight: bold;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: all 1s;
}

.continue-item {
  position: absolute;
  bottom: 30;
}

.copy-level-code-container {
  height:100%;
  width: 80%;
  display: none/*flex*/;
  align-self: center;
}

.copy-level-code-container img {
  height: 100%;
  margin: 0px 10px !important;
}

.level-code {
  align-self: center;
  font-family: HelloDotStick;
  font-weight: bold;
  color: white;
  font-size: 18px;

  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  display: block;
  overflow: hidden;
  direction: rtl;
}

.load-level-code-container {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto auto;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

input[type="text"] {
  align-self: center;
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  outline: none;
  border-bottom: 1px solid white;
  font-family: 'HelloDotStick';
  font-weight: bold;
  width: max(50%, 300px);
  margin-bottom: 20px;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.load-level-instruction-message {
  font-family: HelloDotStick;
  font-weight: bold;
  color: white;
  font-size: 18px;
  transition: all 1s;
  text-align: center;
}