html, body {
  width: 100%; 
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 10px 1px rgb(255 255 255 / 70%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu-item {
  align-self: center;
  margin: 10px 10px;
  width: 153px;

  display:flex;
  justify-content: flex-start;
}

.menu-item-desc {
  align-self: center;
  color: white;
  font-family: 'HelloDotStick';
  font-weight: bold;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.7;
  transition: all 0.5s;
  margin-left: 10px;
}

.menu-item img {
  width: 30px;
  height: 30px;
  color: white;
}

.menu-item:hover {
  cursor: pointer;
  transition: all 0.1s;
}

.menu-item:hover .menu-item-desc {
  opacity: 1;
}

input[type="color"] {
	-webkit-appearance: none;
  border: white 2px solid;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 4px;
  /* box-shadow: white 0px 0px 3px 0.7px; */
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input[type="color"]:focus {
  outline: none;
}
input[type="color"]:hover {
  cursor: pointer;
}